.login-form-container {
    max-width: 400px;
  margin: 0 auto;
  padding: 90px;
  background-color: #f0f0f0;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  .form-group {
    margin-bottom: 10px;
  }
  label {
    font-weight: bold;
  }
  
  input {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 8px 16px;
    background-color: #007bff;
    color:black;    
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 30px;
  }
  
  .success-message {
    color: #008000;
    margin-top: 10px;
  }
  
  .error-message {
    color: #ff0000;
    margin-top: 10px;
  }